/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}
img{
    width: 100%;
}
section{
    padding-top: 3em;
    padding-bottom: 3em;
}
/* Variables */
:root{
    /* Spaces */
    --mb: 1em; 

    --pt: 1.5em;
    --pb: 1.5em;
    /* Colors */
    --blue: rgb(43 140 248);
    --light-blue: rgb(185 223 253);
    --violet: rgb(152 150 224);
    --light-black: rgb(51 51 51);
    --yellow: rgb(251 191 101);
}
/* HEADER */
header{
    background-color: var(--blue);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0 1rem;
}
.container{
    width: 100%;
    padding: 0 1rem;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .hamburger-menu{
    font-size: 1.5rem;
}
header .menu{
    display: none;
}
header .container .logo{
    padding-top: .5rem;
}
/* MAIN */
/* First section */
.card{
    margin-top: 3rem;
}
.cards{
    padding: .5em;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: var(--mb);
    background-color: var(--light-blue);
}
.cards .text-wrapper,
.cards h1{
    margin-bottom: var(--mb);
}
/* Second section */
#planning{
    background-color: var(--violet);
}
.hybrid,
.hybrid p{
    padding-bottom: var(--pb);
}
.hybrid h2{
    padding-top: var(--pt);
    padding-bottom: var(--pb);
}
/* Third section */
.description{
    text-align: center;
    padding-bottom: var(--pb);
}
.introduction{
    color: white;
    margin-bottom: var(--mb);
    background-color: var(--violet);
    border-radius: 20px;
    padding: 1em;
}
.introduction p{
    padding-bottom: 1em;
}






/* RESPONSIVE */
/* Tablet: 768px */
@media screen and (min-width: 768px) {
    /* First section */
    .card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cards{
        width: calc(100% / 3 - (2rem * 2 / 3));
    }
    .cards:first-child{
        width: calc(100% / 3 * 2 - (2rem / 3));
    }

    /* Third section */
    .introduction{
        display: flex;
    }
}
/* Desktop: 992px */
@media screen and (min-width: 992px) {
    /* LAYOUT */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 1000px;
    }

    /* HEADER */
    header .hamburger-menu{
        display: none;
    }
    header .menu{
        display: block;
    }
    header ul{
        display: flex;
        list-style-type: none;
    }
    header li{
        margin-left: 1em;
    }

    /* Second section */
    .row{
        display: flex;
        align-items: flex-end;
    }
}